header,
footer,
article,
section {
  display: block;
}
header {
  background: #000;
  height: 6%;
  line-height: 50px;
}
header span {
  float: left;
}
header h1 {
  font: bold 14px Arial;
  float: left;
  color: #fff;
}
header h2 {
  font: bold 10px Arial;
  float: left;
  color: #fff;
}
body {
  background: #f6f1f2;
}
.container {
  width: 920px;
  height: 609px;
  margin: 0 auto;
  top: 20%;
}
.primary {
  background: #f3013e;
}
.login-panel {
  width: 40%;
  margin-top: 9%;
  float: left;
}
.button {
  background: #000;
  border: none;
  color: #fff;
  padding: 7px;
  font: bold 14px Arial;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}
.vertical-section {
  background: none !important;
  box-shadow: none !important;
}
.paper-input-container-0 .unfocused-line.paper-input-container {
  background: #fff !important;
}
.paper-input-container-0 .focused-line.paper-input-container {
  background: #000 !important;
}
.gold-email-input {
  color: #fff !important;
}
.gold-password-input {
  color: #fff !important;
}
.vertical-section:not([style-scope]):not(.style-scope) {
  margin: 0 2px 24px !important;
  padding: 0px !important;
}
