header,
footer,
article,
section {
  display: block;
}
header {
  background: #000;
  height: 6%;
  line-height: 50px;
}
header span {
  float: left;
}
header h1 {
  font: bold 14px Arial;
  float: left;
  color: #fff;
}
header h2 {
  font: bold 10px Arial;
  float: left;
  color: #fff;
}
body {
  background: #f6f1f2;
}
.container {
  width: 920px;
  height: 609px;
  margin: 0 auto;
  top: 20%;
}
.primary {
  background: #f3013e;
}
.login-panel {
  width: 40%;
  margin-top: 9%;
  float: left;
}
.topspace {
  margin-top: 20px;
}
.profile-pic img {
  width: 55px;
  margin-right: 10px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  margin-top: 5px;
}
.profile-name {
  line-height: 21px;
}
margin-top -4px,
.chatwindow {
  width: 100%;
  background: #fff;
  height: 500px;
}
.chat-text {
  width: 285px;
  float: left;
  background: #f3013e;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-size: 14px;
  padding: 5px;
}
.chat-time {
  float: right;
  font-size: 13px;
  color: #858585;
  margin-top: 21px;
}
.question-chat {
  width: 580px;
  clear: both;
}
.colorblack {
  background: #000 !important;
  margin-left: 36px;
}
.logout {
  background: #000;
  height: 81px;
}
.pro-name {
  float: left;
  line-height: 62px !important;
  line-height: 18px;
}
.button {
  background: #000;
  border: none;
  color: #fff;
  padding: 10px;
  font: bold 14px Arial;
  cursor: pointer;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}
.button:hover {
  background: #fff;
  color: #000;
}
@font-face {
  font-family: fontlarge;
  src: url("partials/fonts/HelveticaLTStd-Bold.eot");
  src: url("partials/fonts/HelveticaLTStd-Bold.woff");
  src: url("partials/fonts/HelveticaLTStd-Bold.ttf");
  src: url("partials/fonts/HelveticaLTStd-Bold.svg");
}
@font-face {
  font-family: fontstyle-details;
  src: url("partials/fonts/HelveticaNeueLTPro-LtCn.eot");
  src: url("partials/fonts/HelveticaNeueLTPro-LtCn.woff");
  src: url("partials/fonts/HelveticaNeueLTPro-LtCn.ttf");
  src: url("partials/fonts/HelveticaNeueLTPro-LtCn.svg");
}
.text-link a {
  color: #fff;
  text-decoration: none;
}
.text-link a:hover {
  color: #000;
}
textarea {
  padding-left: 10px;
  padding-top: 7px;
}
.largefont {
  font-family: fontlarge;
  font-size: 8em;
  color: #fff;
  margin: 0;
}
.details404 {
  font: 20px fontstyle-details;
  float: left;
  padding-left: 16px;
}
.vertical-section {
  background: none !important;
  box-shadow: none !important;
}
.paper-input-container-0 .unfocused-line.paper-input-container {
  background: #fff !important;
}
.paper-input-container-0 .focused-line.paper-input-container {
  background: #000 !important;
}
.gold-email-input {
  color: #fff !important;
}
.gold-password-input {
  color: #fff !important;
}
.vertical-section:not([style-scope]):not(.style-scope) {
  margin: 0 2px 24px !important;
  padding: 0px !important;
}
paper-toolbar.paper-toolbar-0 {
  background: #f3013e !important;
}
paper-toolbar.paper-toolbar-0.tall {
  height: calc(64px * 1);
}
paper-drawer-panel {
  margin: 0 auto;
  width: 960px !important;
  position: relative !important;
}
paper-menu {
  background: #3a3a3a !important;
}
paper-menu a {
  border-bottom: 1px solid #484848 !important;
  color: #fff !important;
  background: #3a3a3a !important;
}
paper-menu a:focus {
  background: #222 !important;
}
paper-menu a:hover {
  background: #222 !important;
}
paper-scroll-header-panel {
  background: #f6f6f6;
  border: 10px solid #4d4d4d;
}
#main.paper-drawer-panel > [main] {
  height: 628px;
}
.my-greeting {
  height: 133px;
  left: -64px;
  position: fixed;
  top: 431px;
  width: 679px;
}
#drawer.paper-drawer-panel > [drawer] {
  height: 628px;
}
.selectable-content.style-scope.paper-menu p {
  line-height: 11px;
  margin: 0px;
  padding: 0px;
}
#drawer.paper-drawer-panel > [drawer]:not([style-scope]):not(.style-scope) {
  border-right: 0px !important;
}
.layout.horizontal {
  display: block !important;
}
#mainToolbar .bottom:not([style-scope]):not(.style-scope) {
  margin-left: 0px !important;
}
.paper-font-subhead {
  float: left;
}
