.button
	background black-color
	border none
	color white-color
	padding 10px
	font bold 14px Arial
	cursor pointer
	border-radius(12px)
	trasition(.5s)
	
	&:hover
		background	white-color
		color black-color	