
header,footer,article,section
	display	block

header
	background	black-color
	height 6%
	line-height 50px
	
	span
		float left
	
	h1
		font bold 14px Arial
		float left
		color white-color
		
	h2
		font bold 10px Arial
		float left
		color white-color	

body
	background grey-color

.container
	width  920px
	height 609px
	margin 0 auto
	top    20%

.primary
	background pink-color
	
.login-panel
	width 40%
	margin-top 9%
	float left

.topspace	
	margin-top	20px	
	
.profile-pic img
	width 55px
	margin-right 10px
	border-radius(30px)
	margin-top 5px

.profile-name
	line-height: 21px
    margin-top: -4px


.chatwindow
	width 100%
	background white-color
	height 500px  
	      