
header,footer,article,section
	display	block

header
	background	black-color
	height 6%
	line-height 50px
	
	span
		float left
	
	h1
		font bold 14px Arial
		float left
		color white-color
		
	h2
		font bold 10px Arial
		float left
		color white-color	

body
	background grey-color

.container
	width  920px
	height 609px
	margin 0 auto
	top    20%

.primary
	background pink-color
	
.login-panel
	width 40%
	margin-top 9%
	float left

.topspace	
	margin-top	20px	
	
.profile-pic img
	width 55px
	margin-right 10px
	border-radius(30px)
	margin-top 5px

.profile-name
	line-height 21px
    margin-top -4px


.chatwindow
	width 100%
	background white-color
	height 500px  

.chat-text
	width 285px
	float left
	background pink-color
	border-radius(10px)
	font-size 14px
	padding 5px

.chat-time
	float right   
	font-size 13px
	color #858585
	margin-top 21px
	
.question-chat
	width 580px	
	clear both

.colorblack
	background black-color !important
	margin-left 36px	
	

.logout
	background black-color
	height 81px
	
.pro-name   
	float left
	line-height 62px !important
	line-height 18px	
	
.imgstyle img
	padding 65px 0 0 77px
	
.setmargin
	margin-left 15px	
	
.editprofile 
	p
		background deep-pink-color
		padding 11px
		color white-color
		height 30px

	span
		float left	
		font 19px fontstyle-details
		
	input
		background #e1e1e1
		border none
		height 21px
		width 209px
		padding-left 5px	
		
		&:hover
			background white-color	

.profile-det
	width 114px
		
.profile-panel
	float left
	margin-top 4%
	width 40%		