border-radius(radius)
	-webkit-border-radius radius
	-moz-border-radius radius
	border-radius radius
	
transition(transval)
	-o-transition transval ease-out
	transition transval ease-out
	-ms-transition transval ease-out
	-webkit-transition transval ease-out
	-moz-transition transval ease-out


