@font-face 
  font-family fontlarge
  src url('partials/fonts/HelveticaLTStd-Bold.eot')
  src url('partials/fonts/HelveticaLTStd-Bold.woff') 
  src url('partials/fonts/HelveticaLTStd-Bold.ttf') 
  src url('partials/fonts/HelveticaLTStd-Bold.svg') 

@font-face 
  font-family fontstyle-details
  src url('partials/fonts/HelveticaNeueLTPro-LtCn.eot')
  src url('partials/fonts/HelveticaNeueLTPro-LtCn.woff') 
  src url('partials/fonts/HelveticaNeueLTPro-LtCn.ttf') 
  src url('partials/fonts/HelveticaNeueLTPro-LtCn.svg') 




.text-link 
	
	& a
		color	white-color					
		text-decoration none
	
	& a:hover
		color   black-color	
		
textarea
	padding-left 10px
	padding-top 7px

.largefont
   font-family fontlarge
   font-size 8em
   color white-color
   margin 0
   
 .details404
 	font 28px fontstyle-details
 	float left
 	padding 12px  
 	color white-color