.vertical-section
	background none !important
	box-shadow none	!important
	
.gold-email-input
    color: #fff !important;
    font: bold 13px Arial !important;
	
.paper-input-container-0 .unfocused-line.paper-input-container
	background white-color !important	
	
.paper-input-container-0 .focused-line.paper-input-container	
	background black-color !important	
	
	