.vertical-section
	background none !important
	box-shadow none	!important
	
.paper-input-container-0 .unfocused-line.paper-input-container
	background white-color !important	
	
.paper-input-container-0 .focused-line.paper-input-container	
	background black-color !important	
	
.gold-email-input
	color white-color !important
	
.gold-password-input
	color white-color !important
	
.vertical-section:not([style-scope]):not(.style-scope)
	margin 0 2px 24px !important
	padding 0px	!important

paper-toolbar.paper-toolbar-0
	background pink-color !important	

paper-toolbar.paper-toolbar-0.tall
	height:calc(64px * 1)
	
paper-drawer-panel
	margin 0 auto
	width 960px !important
	position relative !important
	
paper-menu
	background	pink-color !important
	
	& a
		border-bottom 1px solid #484848 !important
		color white-color !important
		
		background grey-diff-color !important
	    
	& a:focus
		background grey-whl-color !important	
	
	& a:hover
		background grey-whl-color !important		

paper-scroll-header-panel 
	background #f6f6f6
	border 10px solid #4d4d4d
		
#main.paper-drawer-panel > [main]
	height 630px

.my-greeting
	height 133px
	left -64px
	position fixed
	top 431px
	width 679px
	
#drawer.paper-drawer-panel > [drawer]	
	height 630px
	
.selectable-content.style-scope.paper-menu p
	line-height 11px
	margin 0px
	padding 0px	
	
#drawer.paper-drawer-panel > [drawer]:not([style-scope]):not(.style-scope)
	border-right 0px !important		