.vertical-section
	background none !important
	box-shadow none	!important
	
.paper-input-container-0 .unfocused-line.paper-input-container
	background white-color !important	
	
.paper-input-container-0 .focused-line.paper-input-container	
	background black-color !important	
	
.gold-email-input
	color white-color !important
	
.gold-password-input
	color white-color !important
	
.vertical-section:not([style-scope]):not(.style-scope)
	margin 0 2px 24px !important
	padding 0px	!important
